@model IEnumerable<ShortUrlViewModel>
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Notification" />
<div class="container p-5">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Mini Url's</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Url" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; New
            </a>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="mx-auto table table-striped text-center">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["ShortUrlSortParm"]">@Html.DisplayNameFor(model => model.CustomUrl)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["LongUrlSortParm"]">@Html.DisplayNameFor(model => model.Url)</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var miniUrl in Model)
                {
                    <tr class="table-active">
                        <td>
                            @Html.DisplayFor(modelItem => miniUrl.CustomUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => miniUrl.Url)
                        </td>
                        <td class="text-center">              
                            <a asp-controller="Url" asp-action="Edit" asp-route-key="@miniUrl.Key" class="btn btn-secondary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <partial name="_DeletePartial" model="miniUrl" view-data="ViewData" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>