@model PaginatedList<ShortUrlViewModel>
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Notification" />
<div class="container p-5">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary">My Mini Url's</h2>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-6 input-group-sm">
            <a asp-area="My" asp-controller="Urls" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; New
            </a>
        </div>
        <div class="col-6">
            <form method="get" asp-area="My" asp-controller="Urls" asp-action="Index">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="query" value="@ViewData["CurrentFilter"]" />
                    <button type="submit" value="Search" class="btn btn-secondary">Search</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="mx-auto table table-striped text-center">
            <thead>
                <tr>
                    <th>
                        <a asp-area="My" asp-controller="Urls" asp-action="Index" 
                            asp-route-sort="@ViewData["ShortUrlSortParm"]" 
                            asp-route-filter="@ViewData["CurrentFilter"]">
                            MiniUrl
                        </a>
                    </th>
                    <th>
                        <a asp-area="My" asp-controller="Urls" asp-action="Index" 
                            asp-route-sort="@ViewData["LongUrlSortParm"]" 
                            asp-route-filter="@ViewData["CurrentFilter"]">
                            LongUrl
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var miniUrl in Model)
                {
                    <tr class="table-active">
                        <td>
                            @Html.DisplayFor(modelItem => miniUrl.CustomUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => miniUrl.Url)
                        </td>
                        <td class="text-center">              
                            <a asp-area="My" asp-controller="Urls" asp-action="Edit" asp-route-key="@miniUrl.Key" class="btn btn-secondary btn-sm">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <partial name="_DeletePartial" model="miniUrl" view-data="ViewData" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-area="My" 
            asp-controller="Urls"
            asp-action="Index"
            asp-route-sort="@ViewData["CurrentSort"]"
            asp-route-page="@(Model.PageIndex - 1)"
            asp-route-filter="@ViewData["CurrentFilter"]"
            asp-route-size="@ViewData["PageSize"]"
            class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-area="My" 
            asp-controller="Urls"
            asp-action="Index"
            asp-route-sort="@ViewData["CurrentSort"]"
            asp-route-page="@(Model.PageIndex + 1)"
            asp-route-filter="@ViewData["CurrentFilter"]"
            asp-route-size="@ViewData["PageSize"]"
            class="btn btn-default @nextDisabled">
            Next
        </a>
        <form method="get" asp-area="My" asp-controller="Urls" asp-action="Index">
            <select name="size" 
                id="pageSize" 
                class="form-control" 
                asp-items="(List<SelectListItem>)@ViewData["PageSizeList"]" 
                onchange="this.form.submit();">
            </select>
        </form>
    </div>
</div>