@inject ToastrNotificationService NotificationHandler
@{
    var pageTitle = !string.IsNullOrWhiteSpace((string?)ViewData["Title"]) ? ViewData["Title"] + " - " : "";
    pageTitle += "uMini";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@pageTitle</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="apple-touch-icon" href="~/img/apple-touch-icon.png" />

    @RenderSection("Styles", required: false)
    <partial name="_Styles" />
</head>
<body class="vh-100">
    @await Html.PartialAsync("_Header.cshtml")
    <main role="main" class="container h-100">
        @RenderBody()
    </main>

    <partial name="_Scripts" />
    @Html.Raw(NotificationHandler.RenderNotifications())
    @RenderSection("Scripts", required: false)
</body>
</html>
